#pokemonImage {
    width: 100px;
    height: 100px;
}

body {
    font-family:'Courier New', Courier, monospace;
    align-items: center;
    height: 10%;
}

.container {
    width: 200px;
    background-color: aqua;
}