title {
    text-align: center;
}
body {
    font-family:'Courier New', Courier, monospace;
    align-items: center;
    height: 10%;
}

.container {
    width: 600px;
    text-align: center;
}

button {
    margin-top: 10px;
    text-align: center;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#pokemonImage {
    width: 600px;
    height: 600px;
    text-align: center;
}
